<div id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{msg}}</h1>
        <h2>News Source Credibility Checker</h2>
        <hr>
      </div>
    </div>
{{!-- <iframe id="iframe" src="http://www.google.com"></iframe> --}}
    <div class="row">
      <div class="col">
        <h3>Today's Headlines</h3>
        <div id="currentArticles"></div>
        <hr>
      </div>
    </div>
    <form>
      <div class="form-group row">
        <label for="searchDate" class="col-2 col-form-label">Search Date</label>
        <div class="col-3">
          <input type="date" class="form-control" id="searchDate" placeholder="">
        </div>
        <div class="col-2">
          <button id="submitSearch" class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
    <hr>
    {{!-- // Previously reviewed articles from db --}}
    <ul id="article-list">
      {{#each articles}}
        <li data-id="" class="list-group-item">
          <a href="article/">{{this.title}}</a>
          {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
        </li>
      {{/each}}
    </ul>
    <hr>
    <button id="testModal" class="btn btn-primary" type="submit" data-toggle="modal" data-target='#myModal'>Modal</button>

    {{!-- Modal --}}
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        {{!-- Modal content --}}
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" id="submitTest" class="btn" data-dismiss="modal" data-key="">Submit</button>
            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
