<div id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>THE CRED-CHECKER DAILY</h2>
        {{!-- <div class="hrStyling"></div> --}}
        <div class="issuance">
          <p class="alignLeft">Issue 1.0 Volume 1.0</p>
          <p class="alignRight"></p>
        </div>
        <div class="hrStyling"></div>
        <div class="firstHR"></div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-7">
        <h3>Breaking headlines everywhere! One source says this, the other says that! What to believe?!?!</h3>
        <p></p>
        <p class="headliner">Not to worry! The Cred-Checker Daily is here! Read popular articles and give your cred-checking
          assessment for each article you read! It's time to hold the fake news participants accountable! Get started by using the Cred-Checker now!</p>
        <p></p>
        <p class="headlinerAuthor">Written by: The Cred-Checker Daily</p>
      </div>
      <div class="col-md-5" style="display:table-cell;">
      <h3 style="text-align: center">The Cred-Checker Article Rating System</h3>
      <table class="table">
          <tbody>
              <tr>
                <th class="headliner">1-4:</th>
                <td><img class="imageBorder" src="../../images/fakenewsSmall.jpg" width="125px" height="35px"></td>
                <th class="headliner">6-8:</th>
                <td><img class="imageBorder" src="../../images/approvedSmall.jpg" width="125px" height="35px"></td>
              </tr>
              <tr>
                <th class="headliner">4-6:</th>
                <td><img class="imageBorder" src="../../images/misleadingSmall.jpg" width="125px" height="35px"></td>
                <th class="headliner col-xs-1">8-10:</th>
                <td><img class="imageBorder" src="../../images/credibleSmall.jpg" width="125px" height="35px"></td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>
    <div class="hrStyling"></div><br>
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-xl-12 ">
          <!--Accordion wrapper-->
          <div class="accordion md-accordion shadow-left" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" style="text-decoration : none" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                  <h5 id="headlines" class="card-style"></h5>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                <div class="card-body">
                  <div id="currentArticles"></div>
                </div>
              </div>

            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" style="text-decoration : none" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="card-style">
                    <i class="fas fa-search"></i> Search
                  </h5>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                <div class="card-body">
                  <form>
                    <div class="form-group row">
                      <label for="searchDate" class="col-2 col-form-label"><h3>Search Date:</h3></label>
                      <div class="col-5">
                        <input type="date" class="form-control" id="searchDate" placeholder="">
                      </div>
                      <div class="col-2">
                        <button id="submitDate" class="btn btn-dark" type="submit">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="hrStyling"></div>
    <!-- Accordion wrapper -->
    <div id="rating"></div>
    
    <footer>
      Copyright &copy; The Cred-Checker Daily
    </footer>
    <br>
    {{!-- Modal --}}
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xl">
        {{!-- Modal content --}}
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" id="submitTest" class="btn btn-dark" data-dismiss="modal" data-key="">Submit</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>