.list-group-item {
  line-height: 2.5;
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
@font-face {
  font-family: 'cf_nelsonoldnewspaperregular';
  src: url("./CFNelsonOldNewsPaper.ttf"),
       url('cfnelsonoldnewspaper.woff2') format('woff2'),
       url('cfnelsonoldnewspaper.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-family: "cf_nelsonoldnewspaperregular";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 15px;
}
body {
  background-image: url("../images/background.png");
}
.issuance {
  font-family: 'Sriracha', cursive;
  font-size: 12px;
  display: flex;
  margin-top: -10px;
  margin-bottom: -25px;
}
.alignLeft {
  margin-right: auto;
  margin-top: 0px;
}
.alignRight {
  margin-left: auto;
  margin-top: 0px;
}
p, .alignLeft {
  margin-bottom: 12px;
}
p, .alignRight {
  margin-bottom: 12px;
}
h3 {
  font-size: 19px;
  font-family: 'Sriracha', cursive;
}
.headliner {
  font-size: 13px;
  font-family: 'Sriracha', cursive;
}
.headlinerAuthor {
  font-size: 10px;
  font-family: 'Sriracha', cursive;
}
.imageBorder {
  border: 3px groove rgb(243, 241, 241);
}
.card-body, .card-header, .modal-content {
  background-image: url("../images/background.png");
}
footer {
  font-size: 12px;
  font-family: 'Sriracha', cursive;
  text-align: center;
}
.table td, .table th {
  vertical-align: middle;
}
.hrStyling {
  border:none;
  height: 20px;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid rgb(243, 241, 241);
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
  margin-right: -20px;
  margin-left: -20px;
}
.firstHR {
  border:none;
  height: 20px;
	height: 50px;
	margin-top: 0;
	box-shadow: 0 -20px 20px -20px #333;
  margin: -50px auto 10px; 
  margin-right: -20px;
  margin-left: -20px;
}
.shadow-left {
  box-shadow: -3px 0 10px -1px #333;
}
.mb-0 {
  font-family: 'Sriracha', cursive;
  color: #333;
  font-size: 24px;
}
.article {
  font-size: 17px;
  font-family: 'Sriracha', cursive;
}
.modal-body, .modal-title {
  font-size: 16px;
  font-family: 'Sriracha', cursive;
}